name: Release Pipeline
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
    env:
      KO_DOCKER_REPO: "ghcr.io/${{ github.repository_owner }}"
      KO_DATA_PATH: "/usr/share/doc/${{ github.repository }}/"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Install tools
        run: make install-ci-tools

      - name: Install cosign
        uses: sigstore/cosign-installer@v3.1.0

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
          cache: true

      - name: Login to ghcr.io
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        id: run-goreleaser
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
